body {
    background-color: #081c15;
    color: #FFFFFF;
    font-family: "Yu Gothic Light";
    padding-top: 7%;
}
.container{
    padding: 10px;
    background-color: #2d6a4f;

    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.1fr 1.4fr;
    grid-template-rows: 1fr 2fr;
    gap: 0px 50px;
    grid-template-areas:
    "row0 row0"
    "navi row1";
}
.row0 { grid-area: row0; }
.navi { grid-area: navi; }
.row1 { grid-area: row1; }

h1{
    text-align: center;
}
/*Grid inside the Grid*/
.containerBasics {
    margin: auto;
    width: auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "name nameContent"
    "player playerContent"
    "birthdate birthdateContent"
    "age ageContent"
    "gender genderContent"
    "home homeContent"
    "birthplace birthContent";
}
.name { grid-area: name; }
.nameContent { grid-area: nameContent; }
.player { grid-area: player; }
.playerContent { grid-area: playerContent; }
.birthdate { grid-area: birthdate; }
.birthdateContent { grid-area: birthdateContent; }
.age { grid-area: age; }
.ageContent { grid-area: ageContent; }
.gender { grid-area: gender; }
.genderContent { grid-area: genderContent; }
.home { grid-area: home; }
.homeContent { grid-area: homeContent; }
.birthplace { grid-area: birthplace; }
.birthContent { grid-area: birthContent; }
/*Nav*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.menu {
    display: inline-block;
    list-style-type: none;
}
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: #2d6a4f;
    color: #74c69d;
    transform-origin: 0 0;
}
a.side {
    background-color: #74c69d;
    color: #2d6a4f;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}